.box {
    display: flex;
    border: 1px solid black;
    margin-top: 10px;
}


.images {
    height: 90%;
    width: 300px;
    /* margin-left: 25px; */
    margin: 5px;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 15px;
}

